/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Example Nextflow config file
----------------------------------------------------------------------------------------
*/

executor {
    name = "local"
    cpus = 1
}

// Load default parameters
includeConfig 'conf/defaults.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// User parameters - overide defaults and provide mandatory
params {
    samples       = './conf/input.csv'
    outdir        = './results/'

    // Trimming
    adapter_fwd    = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
    adapter_rev    = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
    overlap        = 3
    error_rate     = 0.1
    minimum_length = 1
    quality_cutoff = '0,0'
    gc_content     = 43
}

profiles {
    conda {
        includeConfig 'conf/conda.config'
        conda.enabled = true
    }

    docker {
        includeConfig 'conf/docker.config'
        docker.enabled = true
    }
}



