/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Example Nextflow config file
----------------------------------------------------------------------------------------
*/

params {
    bool_var      = true
    string_var    = 'hello world'
    int_var       = 10
    null_var      = null
    samples       = './conf/input.csv'
    outdir        = './results/'

    // Trimming
    adapter        = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
    overlap        = 3
    error_rate     = 0.1
    minimum_length = 1
    quality_cutoff = '0,0'
    gc_content     = 43
}



// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'