/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Example Nextflow config file
----------------------------------------------------------------------------------------
*/

params {
    bool_var      = true
    string_var    = 'hello world'
    int_var       = 10
    null_var      = null
    samples       = './conf/input.csv'
    outdir        = './results/'

    // Trimming
    adapter       = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
}



// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'