process {

    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }

    withName: 'CUTADAPT' {
        container = 'quay.io/biocontainers/cutadapt:4.2--py310h1425a21_0'
    }

    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.12--pyhdfd78af_0'
    }
}