process {

    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }

    withName: 'CUTADAPT' {
        container = 'quay.io/biocontainers/cutadapt:4.2--py310h1425a21_0'
    }

    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.12--pyhdfd78af_0'
    }

    withName: 'HISAT2' {
        container = 'quay.io/biocontainers/mulled-v2-a97e90b3b802d1da3d6958e0867610c718cb5eb1:2cdf6bf1e92acbeb9b2834b1c58754167173a410-0'
    }
}