/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
*/

process {
    withName: MULTIQC {
        publishDir = [
            path: "${params.outdir}",
            mode: 'copy'
            //saveAs: { filename -> "${sampleID}_${filename}" }
        ]
    }

    withName: CUTADAPT {
        ext.args = {
            [
                "-a ${params.adapter_fwd} ",
                "-A ${params.adapter_rev} ",
                "--overlap ${params.overlap} ",
                "--error-rate ${params.error_rate} ",
                "--minimum-length ${params.minimum_length} ",
                "--quality-cutoff ${params.quality_cutoff} ",
                "--gc-content ${params.gc_content} "
            ].join(' ').trim()
        }
    }
}