/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
*/

process {
    withName: MULTIQC {
        publishDir = [
            path: "${params.outdir}",
            mode: 'copy'
            //saveAs: { filename -> "${sampleID}_${filename}" }
        ]
    }
}